@media all and (max-width: 480px) {
    .mydiv { display: none; }
  }

  .jumbotron{
      margin-bottom: 5px !important;
      padding-bottom: 15px !important;
  }

.ghost-button {
    color: #00332e;
    background:transparent;
    display: inline-block;

    align-items: center;
    position: relative;
    border: 1px solid #00332e;
    font-size: 10px;
    padding: 7px 12px;
    font-weight: normal;
    margin: 6px 0;
    margin-right: 2px;
    text-decoration: none;
    justify-content: center;

    font-family: 'Open Sans', sans-serif;
    min-width: 25px;
    text-align: center;
   }

.ghost-button:hover, .ghost-button:active {
    color:#fff;
    background:#009688;
   }
